// Global styles.
$background-color-default: #ffffff;
$border-color-default: #cccccc;
$color-default: #333333;
$font-size-default: 14px;
$hr-color-default: $color-default;
$margin-default: 10px;
$padding-default: 10px;
$wrapper-maxWidth: 800px;
$wrapper-minWidth: 640px;

